{% extends "::base.html.twig" %}

{% block title %}ProdutoBundle:IndexController:show{% endblock %}

{% block body %}
<img class="img-responsive" src="{{ asset(produto.getImgWeb) }}" alt="{{ produto.img }}" title="{{ produto.img }}"/>
<h1>{{ produto.nome }}</h1>
{% endblock %}
